<body style="width:100vw;height: 100vh;">
    <ng-scrollbar class="custom-scrollbar">
        <router-outlet></router-outlet>
    </ng-scrollbar>
    <div class="goto-top" (click)="gotoTop()" [class.show]="showGoToTop">
        <i class="fas fa-angle-up"></i>
    </div>
</body>