.goto-top 
    position: fixed
    bottom: 15px
    right: 15px
    width: 40px
    height: 40px
    z-index: 10
    background: #2980b9
    border-radius: 50%
    border: 2px solid #fff
    -webkit-box-shadow: 0px 0px 20px 0px rgba(112,112,112,1)
    -moz-box-shadow: 0px 0px 20px 0px rgba(112,112,112,1)
    box-shadow: 0px 0px 20px 0px rgba(112,112,112,1)
    transition: transform .1s ease-in-out
    cursor: pointer
    padding: 5px 10px
    text-align: center
    visibility: hidden
    transition: visibility 0s, opacity 0.5s linear
    opacity: 0

.goto-top.show
    visibility: visible
    opacity: 1

.goto-top:hover
    transform: scale(1.05)

.goto-top > i
    font-size: 24px
    color: #fff

.goto-top 


.custom-scrollbar
    position: relative
