$color-right : #f5f5f5
$color-left : #2c3e50

.main-resume
    padding: 0px 15px
    height: 100%

.main-resume > div
    height: 100%


#section-left
    background-color: $color-left
    padding-top: 0px
    z-index: 1
    -webkit-box-shadow: 7px 0px 30px -8px rgba(0,0,0,0.75)
    -moz-box-shadow: 7px 0px 30px -8px rgba(0,0,0,0.75)
    box-shadow: 7px 0px 30px -8px rgba(0,0,0,0.75)

    
.desktop-description
    display: none

.mobile-description
    margin-top: 10px
    margin-bottom: -10px

.mobile-description > .panel
    padding: 5px 10px


.mobile-description > .panel > .panel-header
    color: #7f8c8d
    font-size: 14px
    font-weight: 700

.mobile-description > .panel > .panel-body
    color: #fff
    font-size: 18px
    font-weight: 700


.area-img > img
    margin: 0 auto
    width: 100%
    height: auto

.area-panel
    margin-top: 20px

.area-panel > .panel
    width: 100%

.area-panel > .panel > .panel-header
    -webkit-box-shadow: 0px 1px 5px 0px rgba(107,105,107,1)
    -moz-box-shadow: 0px 1px 5px 0px rgba(107,105,107,1)
    box-shadow: 0px 1px 5px 0px rgba(107,105,107,1)
    background-color: #e67e22
    padding: 10px
    font-size: 24px
    color: #fff
    font-weight: 500
    letter-spacing: 1.5px
    position: relative

.area-panel > .panel > .panel-header::after
    content: " "
    position: absolute
    left: 10px
    top: 50px
    width: 0
    height: 0
    border-left: 15px solid transparent
    border-right: 15px solid transparent
    border-top: 15px solid #e67e22

.area-panel > .panel > .panel-body
    padding: 15px 10px    
    font-weight: 500
    color: #fff
    letter-spacing: 1px
    font-size: 16px

.area-panel > .panel > .panel-body b
    font-weight: 500

.area-panel .skill-items
    padding: 0px 15px
    padding-top: 0px
    margin-top: -20px
    margin-right: -10px

.area-panel .skill-items > div
    padding: 5px
    padding-bottom: 0px
    font-size: 14px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.area-panel .skill-items > div::before
    content: "-  "

#section-right
    background-color: $color-right
    padding: 40px
    padding-top: 10px

.area-topic > .panel
    width: 100%
    margin-bottom: 10px

.area-topic > .panel > .panel-header
    font-size: 20px
    color: #7f8c8d
    font-weight: 800
    text-transform: uppercase

.area-topic > .panel > .panel-body
    font-size: 34px
    color: #ff9c00
    font-weight: 700
    letter-spacing: 1px
    margin-top: -12px

.line
    width: 100%
    height: 8px
    background: $color-left
    margin-bottom: 8px
    position: relative
    
.line > div 
    position: absolute
    top: 0px
    right: -20px
    width: 20px
    height: 10px
    z-index: 1
    background: $color-right


.line > .dot-line1-1
    left: 12%

.line > .dot-line1-2
    left: 47%

.line > .dot-line1-3
    left: 80%

    
.line > .dot-line2-1
    left: 22%

.line > .dot-line2-2
    left: 60%

.line > .dot-line2-3
    left: 94%


.line > .dot-line3-1
    left: 17%

.line > .dot-line3-2
    left: 54%

.line > .dot-line3-3
    left: 75%


.area-timeline
    margin-top: 40px

.area-timeline::before
    content: " "
    background: #e67e22
    width: 5px
    height: 100%
    position: absolute
    top: 15px
    left: 15px

.area-timeline > .timeline-item
    padding-left: 50px
    margin-bottom: 30px
    position: relative

.area-timeline > .timeline-item > .timeline-dot
    padding-top: 2px
    border: 3px solid #fff
    position: absolute
    left: -3px
    top: 0
    background-color: #e67e22
    border-radius: 50%
    width: 40px
    height: 40px
    font-size: 20px
    vertical-align: middle
    text-align: center
    color: #fff
    -webkit-box-shadow: 0px 0px 5px -1px rgba(61,61,61,1)
    -moz-box-shadow: 0px 0px 5px -1px rgba(61,61,61,1)
    box-shadow: 0px 0px 5px -1px rgba(61,61,61,1)


.area-timeline > .timeline-item > .timeline-header
    color: $color-left
    font-size: 24px
    letter-spacing: 0px
    font-weight: 700

.area-timeline > .timeline-item > .timeline-body
    margin-left: 15px
    color: $color-left
    font-size: 20px
    letter-spacing: 0px
    font-weight: 500


hr
    border: 1px solid #fff
    margin-bottom: 10px
    margin-top: 10px


 
/* control font size*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) 
    .mobile-description
        display: none

    .desktop-description
        display: inline
        .panel-header
            font-size: 18px !important

        .panel-body 
            padding-top: 10px
            font-size: 28px !important
            line-height: 1
            font-weight: bold

    .hi
        font-size: 4em

    .name 
        font-size: 2em
    

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
    .hi
        font-size: 5em

    .name 
        font-size: 2.4em

// Large devices (desktops, 992px and up)
@media (min-width: 992px) 
    .hi
        font-size: 6em

    .name
        font-size: 3em

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
    .hi
        font-size: 7em

    .name
        font-size: 3.5em

