<app-loading *ngIf="isShow">123123</app-loading>
<div *ngIf="isShowContent" class="main-resume">
    <div class="row">
        <div id="section-left" class="col-lg-3 col-md-4 col-sm-5">
            <div class="row area-img">
                <img src="./assets/images/unnamed.jpg" />
                <div class="mobile-description pb-4">
                    <div class="panel">
                        <div class="panel-header">FULL NAME</div>
                        <div class="panel-body">MR.ANANCHAI SUJIRANUTHAM (P)</div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">CURRENT POSITION</div>
                        <div class="panel-body">DEVELOPER (FULL STACK )</div>
                    </div>
                </div>
            </div>
            <div class="row area-panel mt-0">
                <div class="panel">
                    <div class="panel-header">CAREER OBJECTIVE</div>
                    <div class="panel-body">
                        Looking for a position <b>developer</b>, <b>programmer</b> or related fields.
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-header">SKILLS</div>
                    <div class="panel-body">
                        <h3>EXPERT</h3>
                        <div class="row skill-items">
                            <div class="col-lg-6">HTML</div>
                            <div class="col-lg-6">CSS</div>
                            <div class="col-lg-6">JAVASCRIPT</div>
                            <div class="col-lg-6">SQL Database</div>
                            <div class="col-lg-6">MYSQL Database</div>
                            <div class="col-lg-6">Oracle Database</div>
                            <div class="col-lg-6">PHP</div>
                            <div class="col-lg-6">CODEIGNITOR</div>
                            <div class="col-lg-6">LARAVEL</div>
                            <div class="col-lg-6">BOOTSTRAP</div>
                            <div class="col-lg-6">JQUERY</div>
                            <div class="col-lg-6">ANGULAR</div>
                            <div class="col-lg-6">VUE JS</div>
                            <div class="col-lg-6">REACT JS</div>
                            <div class="col-lg-6">ASP.NET C#</div>
                            <div class="col-lg-6">ASP.NET VB</div>
                            <div class="col-lg-6">ASP.NETCORE</div>
                            <div class="col-lg-6">GIT</div>
                        </div>
                        <hr class="custom-hr" />
                        <h3>NORMAL</h3>
                        <div class="row skill-items">
                            <div class="col-lg-6">RUBY ON RAILS</div>
                            <div class="col-lg-6">DOCKER</div>
                            <div class="col-lg-6">Node JS</div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-header">EDUCATION</div>
                    <div class="panel-body">
                        Burapha University, Faculty of Informatics, Software Engineering with grade point 3.21
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-header">CONTACT</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-12">
                                <i class="fas fa-envelope-open-text fa-2x mt-1"></i> &nbsp;ananchai.sjrnt@gmail.com
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <i class="fas fa-phone-square-alt fa-2x mt-1" style="margin-left: 2px"></i> &nbsp;08-6332-1002
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-right" class="col-lg-9 col-md-8 col-sm-7">
            <div class="row area-topic">
                <div class="panel desktop-description">
                    <div class="panel-header">FULL NAME</div>
                    <div class="panel-body">MR.ANANCHAI SUJIRANUTHAM (P)</div>
                </div>
                <div class="panel desktop-description mt-2">
                    <div class="panel-header">CURRENT POSITION</div>
                    <div class="panel-body">DEVELOPER (FULL STACK)</div>
                </div>
                <div class="line desktop-description line1 mt-2">
                    <div class="dot-line1-1"></div>
                    <div class="dot-line1-2"></div>
                    <div class="dot-line1-3"></div>
                </div>
                <div class="line desktop-description line2">
                    <div class="dot-line2-1"></div>
                    <div class="dot-line2-2"></div>
                    <div class="dot-line2-3"></div>
                </div>
                <div class="line desktop-description line3">
                    <div class="dot-line3-1"></div>
                    <div class="dot-line3-2"></div>
                    <div class="dot-line3-3"></div>
                </div>

                <div class="panel mt-2">
                    <div class="panel-header">SUMMARY OF WORKING EXPERIENCE</div>
                    <div class="panel-body" style="position: relative">
                        <!-- time line -->
                        <div class="area-timeline mt-4">
                            <div class="timeline-item">
                                <div class="timeline-dot">
                                    <i class="fas fa-history"></i>
                                </div>
                                <div class="timeline-header">JUL 2021 - NOW</div>
                                <div class="timeline-body">
                                    SA and full stack developer at Fabrinet co. ltd. Getting requirement from user and build program from requirement by use ASP.NET Core, HTML, JS, CSS & Oracle database
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot">
                                    <i class="fas fa-history"></i>
                                </div>
                                <div class="timeline-header">OCT 2020 – JUN 2021</div>
                                <div class="timeline-body">
                                    Front end developer at buzzebees co. ltd. (thailand). Coding program from design by designer and connect API to control CRM privileged by use Vue.js & SCSS
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot">
                                    <i class="fas fa-history"></i>
                                </div>
                                <div class="timeline-header">AUG 2018 - SEP 2020</div>
                                <div class="timeline-body">
                                    IT-Specialist at Celestica (Thailand) Ltd. Full stack developing for control assembling in line and system about e-leaving by use ASP.NET core C#, SQL, HTML, Angular JS , Angular, JS, CSS and jQuery
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-dot">
                                    <i class="fas fa-history"></i>
                                </div>
                                <div class="timeline-header">JAN 2016 - JUL 2018</div>
                                <div class="timeline-body">
                                    Software Analysis & Full Stack developer at Siam Compressor Industry Co., Ltd. in Mitsubishi Electric group. My responsibility is setting full loop of SDLC in each system, developing by use ASP.NET (VB or C#), SQL, HTML, JAVASCRIPT, CSS and jQuery
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>